.commodity-tabbar {
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  &-item {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text {
      margin-top: 2px;
      font-size: 14px
    }
  }
  &-cart {
    margin: 0;
    width: 100px;
    background-color: red;
    color: #fff;
    font-weight: 600;
  }
  &-buy {
    margin: 0;
    width: 120px;
    background-color: #f8c43d;
    color: #fff;
    font-weight: 600;
  }
}