.realtime-preview {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 999;
  overflow: auto;
  &-content {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    overflow-x: hidden;   
  }
  &-content::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

.fixedLayout {
  position: absolute !important;
}

.sequentialLayout {
  display: block;
}