.shopping-cart-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 6px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 12px;
  .title {
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    margin-left: 5px;
    &-radio {
      padding-top: 3px;
    }
    &-text {
      font-size: 16px;
      font-weight: 700;
      margin: 0 6px;
    }
  }
}

.delete-button {
  height: 100%;
}