.order-commodity-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.shop-title {
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
  margin-bottom: 8px;
  border-bottom: 1px solid #f7f8fa;
}

.commodities-preview {
  display: flex;
  margin-top: 10px;
  padding: 0 10px;
  justify-content: space-between;
  &-cover {
    display: flex;
    &-image {
      margin-right: 8px;
      span {
        color: rgba(0, 0, 0, 0.7);
        font-style: italic
      }
    }
  }
  &-num {
    display: flex;
    align-items: center;
  }
}

.more {
  font-size: 16px;
  font-weight: 700;
  margin-left: 5px;
  display: flex;
  align-items:flex-end;
}

.paying {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 5px;
  &-price {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: red;
  }
  &-operation-button {
    margin-right: 5px;
  }
}

.finish {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 0 15px;
}

.order-address {
  font-size: 14px;
  padding: 0 5px;
  font-weight: 600;
  font-style: italic;
  height: 30px;
}