@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('./iconfont.woff2?t=1680074015130') format('woff2'),
       url('./iconfont.woff?t=1680074015130') format('woff'),
       url('./iconfont.ttf?t=1680074015130') format('truetype');
}

.icon-share:before {
  content: "\e624";
}

.icon-love-full:before {
  content: "\e62b";
}

.icon-love:before {
  content: "\e643";
}

.icon-shop-info:before {
  content: "\e895";
}

.icon-image:before {
  content: "\eb98";
}

.icon-swipe:before {
  content: "\e6a1";
}

.icon-text:before {
  content: "\e60b";
}

.icon-commodities:before {
  content: "\e635";
}

.icon-shopping-cart:before {
  content: "\e73d";
}