@font-face {
  font-family: "packageIcon"; /* Project id 3868209 */
  src: url('iconfont.woff2?t=1681029157166') format('woff2'),
       url('iconfont.woff?t=1681029157166') format('woff'),
       url('iconfont.ttf?t=1681029157166') format('truetype');
}

.packageIcon {
  font-family: "packageIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e624";
}

.icon-love-full:before {
  content: "\e62b";
}

.icon-love:before {
  content: "\e643";
}

.icon-shop:before {
  content: "\e895";
}

.icon-image:before {
  content: "\eb98";
}

.icon-swipe:before {
  content: "\e6a1";
}

.icon-text:before {
  content: "\e60b";
}

.icon-commodities:before {
  content: "\e635";
}

.icon-shopping-cart:before {
  content: "\e73d";
}