.commodity-select {
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.input-with-select {
  width: 500px;
  margin-bottom: 20px;
}

.image-preview{
  width: 100px;
}

.commodity-name {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
    color: #185dd4;
    font-weight: 700;
  }
}

.price {
  color: #185dd4;
}

.discount-price {
  color: red;
}

.original-price {
  margin-top: 10px;
  text-decoration: line-through;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  &-image {
    position: relative;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    .delete:hover {
      cursor: initial;
    }
  }
  &-image:hover {
    cursor: grab;
  }
}