.construction-panel {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
   &-left, &-right {
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    background-color: #fff;
  }
  &-left {
    left: 0;
    overflow: auto;
    width: 300px;
  }
  &-right {
    right: 0;
    width: 500px;
  }
  &-container {
    padding: 20px 300px 0;
    height: 100%;
    box-sizing: border-box;
    &-canvas {
      overflow: auto;
      background: url('/phone.png');
      background-size: 438px 742px;
      background-repeat: no-repeat ;
      background-position: top center;
      height: 100%;
      &-content {
        position: relative;
        margin: 0 auto;
        background: #fff;
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: 0 0 20px 20px;
        margin-top: 51px;
        scrollbar-width: none; /* firefox */
        -ms-overflow-style: none; /* IE 10+ */
      }    
      &-content::-webkit-scrollbar {
        display: none; /* Chrome Safari */
      }
    }
  }
}

.layout-tip {
  padding: 20px 10px;
  font-size: 14px;
}