.components-materials-area {
  height: 60%;
  box-sizing: content-box;
  padding: 0 10px;
  background: #fff;
}

.components-materials {
  display: flex;
  height: 70%;
  box-sizing: content-box;
  padding: 10px 0;
  background: #fff;
  &-item {
    margin-left: 20px;
    width: calc((100% - 100px) / 3);
    user-select: none;
  }
  &-item:first-child {
    margin-left: 10px;
  }
}