.components-materials-area {
  height: 50%;
  box-sizing: content-box;
  padding: 0 10px;
  background: #fff;
}

.components-materials {
  display: flex;
  flex-wrap: wrap;
  height: 70%;
  box-sizing: content-box;
  padding: 10px 0;
  background: #fff;
  &-item {
    margin-left: 20px;
    width: calc((100% - 100px) / 3);
    user-select: none;
  }
  &-item:nth-child(3n + 1) {
    margin-left: 10px;
  }
  &-item:nth-child(3n + 4) {
    margin-top: 10px;
  }
}