.schema-renderer {
  position: relative;
  // 基于底部 padding 避免遮住
  height: calc(100vh - 50px);
  overflow: scroll;
  background-color: #f7f8fa;
}

.component {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.fixedLayout {
  position: absolute !important;
}

.sequentialLayout {
  display: block;
}

.sequentialLayout-inline {
  display: inline-block;
}