:deep(el-table__header-wrapper) {
  width: 100%;
}

.input-with-select {
  margin-bottom: 20px;
  margin-right: 20px;
}

.image-preview{
  width: 100px;
}

.select-dialog-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}