.shops {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  &-item {
    display: flex;
    position: relative;
    padding: 20px 10px;
    background-color: #fff;
    margin-top: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &-avatar {
      margin-right: 20px;
    }
    &-title {
      font-size: 18px;
      font-weight: 600;
    }
    &-star-num {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.7);
    }
    &-text {
      display: flex;
      height: 64px;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  &-item:first-child {
    margin-top: 0;
  }
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.avatar-image {
  width: 64px;
  height: 64px;
}